// color variables
$color-blue: #1b6ec2;
$color-light-gray: #dedede;
$color-white: #ffffff;

$color-red: #d04a02;
$color-gray: #979797;
$color-teal: #299d8f;
$color-table-link: $color-blue;

//text color
$text-dark: $color-gray;
$text-light: $color-white;

//font sizes
$small-font-size: 12px;
$base-font-size: 14px;
$min768-font-size: 16px;

//font weights
$normal: 400;
$bold: bold;

// other variables
$content-width: 1200px;
$footer-height: 50px;
$header-height: 72px;


